:root {
    --cambridge-blue: #A2B9A8ff;
    --mountain-meadow: #08BB8Dff;
    --persian-green: #19AB98ff;
    --viridian-green: rgb(0, 222, 222);
    --dark-slate-gray: #2B5458ff;
    --prussian-blue: #012E43ff;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}


#intro {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/pexels-benjamin-suter-3617500.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--viridian-green);
    border-radius: 1rem;
    height: 100vh;
}

#intro-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/pexels-benjamin-suter-3617500.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--viridian-green);
    border-radius: 1rem;
}

main {
    background-color: var(--prussian-blue);
}

.bg-glass {
    background: rgba(106, 106, 106, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--rich-dark-blue);
}

.bg-glass:hover {
    background: rgba(243, 243, 243, 0.2);
    color: var(--mountain-meadow);
}

p {
    color: var(--cambridge-blue);
}

h2 {
    color: var(--mountain-meadow);
    text-align: center;
}

h3, h4 {
    color: var(--persian-green);
    text-align: start;
}


.btn-nav {
    background-color: var(--prussian-blue);
    color: var(--cambridge-blue);
}

.btn-nav:hover {
    color: var(--mountain-meadow);
}

.wealth-principle {
    background-color: var(--persian-green);
    padding: 5%;
    border-radius: 2rem;
    text-align: center;
    color: var(--prussian-blue);
    margin: 15px;
}

.declaration {
    background-color: var(--persian-green);
    padding: 5%;
    border-radius: .5rem;
    color: var(--prussian-blue);
    margin: 15px;
}

.declaration strong {
    color: var(--prussian-blue);
}

.declaration p {
    color: var(--dark-slate-gray);
}

a {
    text-decoration: none;
    color: var(--prussian-blue);
}

a:hover {
    color: var(--cambridge-blue);
}

.bg-article {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}